{
  "openapi": "3.0.1",
  "info": {
    "title": "Grist API",
    "description": "API documentation for interacting with a locally hosted Grist instance",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://docs.getgrist.com/api/docs/"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/docs/{docId}": {
      "get": {
        "description": "Get document metadata",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document metadata",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/docs/{docId}/tables/{tableId}/columns": {
      "get": {
        "description": "List columns in a table",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tableId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Columns from the table",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/docs/{docId}/sql": {
      "get": {
        "description": "Run an SQL query against a document",
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Query results",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}